<body>
  <table>
    <tr>
      <th *ngIf="imga"><img src="https://img.icons8.com/color/96/000000/bus.png"></th>
      <th *ngIf="!imga"><img src="https://img.icons8.com/ios/96/000000/bus.png"></th>
      <th *ngIf="imgb"><img src="https://img.icons8.com/color/96/000000/bus.png"></th>
      <th *ngIf="!imgb"><img src="https://img.icons8.com/ios/96/000000/bus.png"></th>
      <th *ngIf="imgc"><img src="https://img.icons8.com/color/96/000000/bus.png"></th>
      <th *ngIf="!imgc"><img src="https://img.icons8.com/ios/96/000000/bus.png"></th>
      <th *ngIf="imgd"><img src="https://img.icons8.com/color/96/000000/bus.png"></th>
      <th *ngIf="!imgd"><img src="https://img.icons8.com/ios/96/000000/bus.png"></th>
    </tr>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
    <tr>
      <td>{{skills}} <select>
          <option *ngFor="let item of number" [value]="item.value">{{item.text}}</option>
        </select> </td>
      <td>{{skills}} <select>
          <option *ngFor="let item of number" [value]="item.value">{{item.text}}</option>
        </select> </td>
      <td>{{skills}} <select>
          <option *ngFor="let item of number" [value]="item.value">{{item.text}}</option>
        </select> </td>
      <td>{{skills}} <select>
          <option *ngFor="let item of number" [value]="item.value">{{item.text}}</option>
        </select> </td>

    </tr>
  </table>

  <button (click)="go()"> Go!! </button>
</body>