<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"> -->
<div style="text-align:center">
  <div class="bg-light">
    <h1>
      Welcome to {{ title }} ^__^
    </h1>
    <!-- <img src="https://pbs.twimg.com/media/BpOL_6FCUAAoTwh.jpg" name="aboutme" width="200" height="200" class="img-circle"> -->
    <img src="\assets\image\IMG_3498.JPG" name="aboutme" class="widthimage">
    <h3 class="media-heading"> {{ name }} <small></small></h3>
    <!-- <h3>
    <span><strong>Social Media: </strong></span>
    <span class="label label-warning"><a target="_blank" rel="noopener" href="https://www.facebook.com/gugolfpii?ref=bookmarks">
        Facebook </a></span> &nbsp;
    <span class="label label-info"><a target="_blank" rel="noopener" href="https://www.instagram.com/golf_weerapol/">
        Instagram </a></span> &nbsp;
    <span class="label label-warning"><a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UC5rGEw5o8-3nKxkjlHVzCAg?view_as=subscriber">
        Youtube </a></span> &nbsp;
    <span class="label label-warning"><a target="_blank" rel="noopener" href="https://drive.google.com/drive/folders/1FcZueob-okIRB_NAb_lBViWFEJ-ryn0-">
        DriveImage </a></span>

  </h3> -->

    <h4>
      <span><strong>Skills: </strong></span>
      <span class="label label-warning">HTML/CSS</span>&nbsp;
      <span class="label label-info">Adobe </span>&nbsp;
      <span class="label label-warning">Microsoft Office</span>&nbsp;
      <span class="label label-success">Windows XP, 7, 10</span>
    </h4>

    <h4>
      <span><strong> คติ: </strong></span>
      <span class="label label-warning">•พรุ่งนี้..ไม่มีอยู่จริง.</span>&nbsp;
    </h4>
  </div>
</div>